.cardPadding {
  padding: 35px;
}

.card {
  padding: 20px;
  display: flex;
}

table {
  font-size: 20px;
  border: 2em;
}

button {
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);

  .modal-main {
    position: fixed;
    background: white;
    width: 50%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
  }
}

.display-block {
  display: block;
}

.btnClose {
  position: absolute;
  top: 20px;
  right: 20px;
}

right {
  top: -41px;
  right: 70px;
}

.cardPadding {
  padding: 35px;
}

.display-none {
  display: none;
}

input {
  margin: 0.25em;
}

.updateModalButton {
  position: absolute;
  right: 2em;
}

.cancelModalButton {
  position: absolute;
  right: 8.75em;
}

.addNewSMBtn {
  position: absolute;
  left: 28em;
}

.resultCardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

@media (max-width: 768px) {
  .resultCardContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
  }
}

.smfSubmitBtn {
  position: absolute;
  right: 8.75em;
}

.smfCancelBtn {
  position: absolute;
  right: 2em;
}
